@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#fcd9ee, #c2fff7);
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  color: #9b5de5;
  font-family: "Staatliches", cursive;
}

h1 {
  font-size: 38px;
}

h2 {
  color: #00bbf9;
}

p {
  line-height: 1.5;
}

img {
  width: 100%;
  max-width: 500px;
  border: 5px solid #fee440;
}
